@model WebThuVienV2.Models.LoaiSach

@{
    ViewBag.Title = "Delete";
}

<h2 class="text-center" style="margin-top:40px;">Xóa sách</h2>

<h3 style="margin-left:10px">Bạn muốn xóa loại sách này ?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Loại sách
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenLoaiSach)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color" style="margin-left:10px;">
            <input type="submit" value="Xóa" class="btn btn-danger" /> |
            @Html.ActionLink("Trở lại danh sách", "Index")
        </div>
    }
</div>
