<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
<section id="contact">

    <h1 class="section-header">Liên hệ</h1>
    <p class="container text-center">
        Đội ngũ CSKH của PAD Library luôn sẵn sàng hỗ trợ từ 8:30 sáng cho tới 22:00
        tối tất cả các ngày trong tuần bao gồm cả thứ 7 và Chủ Nhật.
    </p>
    <div class="contact-wrapper">

        <!-- Left contact page -->

        <form id="contact-form" class="form-horizontal" role="form">

            <div class="form-group">
                <div class="col-sm-12">
                    <input type="text" class="form-control" id="name" placeholder="Tên của bạn..." name="name" value="" required>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-12">
                    <input type="email" class="form-control" id="email" placeholder="Email..." name="email" value="" required>
                </div>
            </div>

            <textarea class="form-control" rows="10" placeholder="Lời nhắn..." name="message" required></textarea>

            <button class="btn btn-success send-button" id="submit" type="submit" value="Gửi">
                <div class="alt-send-button">
                    <i class="fa fa-paper-plane"></i><span class="send-text">Gửi</span>
                </div>

            </button>

        </form>

        <!-- Left contact page -->

        <div class="direct-contact-container">

            <ul class="contact-list">
                <li class="list-item"><i class="fas fa-map-marked"><span class="contact-text place">371 Nguyễn Kiệm, phường 3, quận Gò Vấp, TP. Hồ Chí Minh</span></i></li>

                <li class="list-item"><i class="fas fa-phone-alt"><span class="contact-text phone">0123456789</span></i></li>

                <li class="list-item"><i class="fas fa-envelope "><span class="contact-text gmail">pad.library@gmail.com</span></i></li>

            </ul>

            <hr>
            <ul class="social-media-list">
                <li>
                    <a href="#" target="_blank" class="contact-icon">
                        <i class="fab fa-facebook" aria-hidden="true"></i>
                    </a>
                </li>
                <li>
                    <a href="#" target="_blank" class="contact-icon">
                        <i class="fab fa-twitter" aria-hidden="true"></i>
                    </a>
                </li>
                <li>
                    <a href="#" target="_blank" class="contact-icon">
                        <i class="fab fa-instagram" aria-hidden="true"></i>
                    </a>
                </li>
                <li>
                    <a href="#" target="_blank" class="contact-icon">
                        <i class="fab fa-linkedin-in" aria-hidden="true"></i>
                    </a>
                </li>
            </ul>
            <hr>

        </div>

    </div>

</section>

<style>
    body {
        margin: 0;
        padding: 0;
        background-color: white;
        padding-bottom: 100px;
    }

    #contact {
        width: 100%;
        height: 100%;
        margin-top: 40px;
    }

    .section-header {
        text-align: center;
        margin: 0 auto;
        padding-top: 40px;
        font: 300 60px 'Lato', sans-serif;
        color: black;
        text-transform: uppercase;
        letter-spacing: 6px;
    }

    .contact-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 0 auto;
        padding: 20px;
        position: relative;
        max-width: 840px;
    }
    /* Left contact page */
    .form-horizontal {
        /*float: left;*/
        max-width: 400px;
        font-family: 'Lato';
        font-weight: 400;
    }

    .form-control,
    textarea {
        max-width: 400px;
        background-color: white;
        color: black;
        letter-spacing: 1px;
        border: 2px solid ##0c6363;
    }

    .send-button {
        margin-top: 15px;
        height: 34px;
        width: 400px;
        overflow: hidden;
        transition: all .2s ease-in-out;
    }

    .alt-send-button {
        width: 400px;
        height: 34px;
        transition: all .2s ease-in-out;
    }

    .send-text {
        display: block;
        margin-top: 10px;
        font: 700 12px 'Lato', sans-serif;
        letter-spacing: 2px;
    }

    .alt-send-button:hover {
        transform: translate3d(0px, -29px, 0px);
    }
    /* Begin Right Contact Page */
    .direct-contact-container {
        max-width: 400px;
    }
    /* Location, Phone, Email Section */
    .contact-list {
        list-style-type: none;
        margin-left: 50px;
        padding-right: 20px;
    }

    .list-item {
        line-height: 4;
        color: #aaa;
    }

    .contact-text {
        font: 300 18px 'Lato', sans-serif;
        letter-spacing: 1.9px;
        color: #bbb;
    }

    .place {
        margin-left: 30px;
    }

    .phone {
        margin-left: 56px;
    }

    .gmail {
        margin-left: 53px;
    }

    .list-item span {
        color: black;
        text-decoration: none;
        transition-duration: 0.2s;
    }
    /* Social Media Icons */
    .social-media-list {
        position: relative;
        font-size: 22px;
        text-align: center;
        width: 100%;
        margin: 0 auto;
        padding: 0;
    }

        .social-media-list li a {
            color: #fff;
        }

        .social-media-list li {
            position: relative;
            display: inline-block;
            height: 60px;
            width: 60px;
            margin: 10px 3px;
            line-height: 60px;
            border-radius: 50%;
            color: #fff;
            background-color: rgb(27,27,27);
            cursor: pointer;
            transition: all .2s ease-in-out;
        }

            .social-media-list li:after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 60px;
                height: 60px;
                line-height: 60px;
                border-radius: 50%;
                opacity: 0;
                box-shadow: 0 0 0 1px #fff;
                transition: all .2s ease-in-out;
            }

            .social-media-list li:hover {
                background-color: #fff;
            }

                .social-media-list li:hover:after {
                    opacity: 1;
                    transform: scale(1.12);
                    transition-timing-function: cubic-bezier(0.37,0.74,0.15,1.65);
                }

                .social-media-list li:hover a {
                    color: #000;
                }

    hr {
        border-color: rgba(255,255,255,.6);
    }
    /* Begin Media Queries*/
    @@media screen and (max-width: 850px) {
        .contact-wrapper {
            display: flex;
            flex-direction: column;
        }

        .direct-contact-container, .form-horizontal {
            margin: 0 auto;
        }

        .direct-contact-container {
            margin-top: 60px;
            max-width: 300px;
        }

        .social-media-list li {
            height: 60px;
            width: 60px;
            line-height: 60px;
        }

            .social-media-list li:after {
                width: 60px;
                height: 60px;
                line-height: 60px;
            }
    }

    @@media screen and (max-width: 569px) {
        .direct-contact-container, .form-wrapper {
            float: none;
            margin: 0 auto;
        }

        .form-control, textarea {
            margin: 0 auto;
        }

        .name, .email, textarea {
            width: 280px;
        }

        .direct-contact-container {
            margin-top: 60px;
            max-width: 280px;
        }

        .social-media-list {
            left: 0;
        }

            .social-media-list li {
                height: 55px;
                width: 55px;
                line-height: 55px;
                font-size: 2rem;
            }

                .social-media-list li:after {
                    width: 55px;
                    height: 55px;
                    line-height: 55px;
                }
    }

    @@media screen and (max-width: 410px) {
        .send-button {
            width: 99%;
        }
    }
</style>
